.experienceBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background-color: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}

@media (max-width: 1150px) {
  .experienceBar {
    max-width: 500px;
    width: 95%;
    align-self: center;
    padding: 0px 10px;
  }
}
