.container input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.container label {
  cursor: pointer;
}

.container body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
