.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--login-background);
  color: #fff;
  width: 100%;
  height: 100vh;
}

.backgroundLogo {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 95%;
  padding-left: 1rem;
  padding-right: 5rem;
}

.logoLogin {
  width: 100%;
}

.loginContainer h2 {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 500;
}

.loginContainer div {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loginContainer div p {
  margin-left: 15px;
  opacity: 0.6;
  font-weight: 400;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.githubLogin {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    to right,
    rgba(var(--linear-grad), 0.8),
    rgba(var(--linear-grad), 0.3)
  );
  border: 0;
  border-radius: 4px;

  margin-top: 30px;

  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;

  color: #fff;
}

.githubLogin span {
  margin-left: 20px;
}

.githubLogin div {
  background-color: var(--green);
  padding: 1rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0;
}

@media (max-width: 1100px) {
  .container {
    justify-content: center;
    align-items: center;
  }

  .loginContainer {
    padding-right: 0;
  }
}
